@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
body {
  font-size: 16px;
  line-height: 1.5;
  font-family: "Inter", sans-serif;
}
ul {
  list-style-type: none;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}
input,
button,
textarea,
select {
  outline: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #f0f0f0 inset;
  -webkit-text-fill-color: #01b763 !important;
}
img {
  user-select: none;
  pointer-events: none;
}
